body
{
background-color: black;
color: blue;
font-family: Arial, Helvetica, sans-serif;
}

h1
{
    text-align: center;
    font-size: 50px;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#Welcome div
{
    font-size: large;
}